html(lang="en")

head
  meta(charset='utf-8')
  meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title I'm the Layout Partials Title
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  link(rel="stylesheet" href="css/style.css")
body
  include _header.pug
  
  block content
  
  include _footer.pug
  include _scripts.pug