extends partials/_layout.pug

block content

  //- https://startbootstrap.com/template-overviews/heroic-features/
  .container
    // Jumbotron Header
    header.jumbotron.my-4
      h1.display-3 A Warm Welcome!
      p.lead
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
      a.btn.btn-primary.btn-lg(href='#') Call to action!
    // Page Features
    .row.text-center
      - for (var x = 0; x < 4; x++)
        .col-lg-3.col-md-6.mb-4
          .card
            img.card-img-top(src='http://placehold.it/500x325', alt='')
            .card-body
              h4.card-title Card title
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
            .card-footer
              a.btn.btn-primary(href='#') Find Out More!
    // /.row
