extends partials/_layout.pug

block content

  .container
    .row
      .col-lg-12.text-center
        h1.mt-5 A Bootstrap 4 Starter Template
        p.lead Complete with pre-defined file paths and responsive navigation!
        ul.list-unstyled
          li Bootstrap 4.1.3
          li jQuery 3.3.1
        img(src="https://source.unsplash.com/random/900x900", alt="")