extends partials/_layout.pug

block content

  //- https://startbootstrap.com/template-overviews/1-col-portfolio/
  .container
    // Page Heading
    h1.my-4
      | Page Heading
      small Secondary Text
    each val in ["Project One", "Project Two", "Project Three","Project Four"]
      .row
        .col-md-7
          a(href='#')
            img.img-fluid.rounded.mb-3.mb-md-0(src='http://placehold.it/700x300', alt='')
        .col-md-5
          h3= val
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
          a.btn.btn-primary(href='#') View Project
    hr
    // Pagination
    ul.pagination.justify-content-center
      li.page-item
        a.page-link(href='#', aria-label='Previous')
          span(aria-hidden='true') «
          span.sr-only Previous
      li.page-item
        a.page-link(href='#') 1
      li.page-item
        a.page-link(href='#') 2
      li.page-item
        a.page-link(href='#') 3
      li.page-item
        a.page-link(href='#', aria-label='Next')
          span(aria-hidden='true') »
          span.sr-only Next
  // /.container
